.test1, .test2
{
	background:url('1488160614-300px.png') no-repeat right center;
	background-size:1em;
}

.test1 .userhelp
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	text-align: center;
	color: #fff;
	padding: 5px 0;
	border-radius: 6px;
	opacity: .8;

	position: absolute;
	top: 100%;
	z-index: 1;
	left: 50%;
	margin-left: -60px;
}

.test1:hover .userhelp
{
	visibility: visible;
}

.test2 .predeterminedhelp
{
	visibility: hidden;
	width: 120px;
	background-color: black;
	text-align: center;
	color: #fff;
	padding: 5px 0;
	border-radius: 6px;
	opacity: .8;

	position: absolute;
	top: 100%;
	z-index: 1;
	left: 50%;
	margin-left: -60px;
}

.test2:hover .predeterminedhelp
{
	visibility: visible;
}